.feature-con .generic-title2 h2,
.feature-con .generic-title2 p{
    color: var(--secondary--color);
}
.feature-con{
    background: #00238a;
}
.feature-box {
    gap: 30px;
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
}
.feature-box-item {
    gap: 21px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    padding: 40px 22px 30px;
    background: rgb(255 255 255 / 5%);
}
.feature-box-item figure img{
    transition: all 0.5s ease-in-out;
}
.feature-box-item figure {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: var(--accent--color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.feature-box-item figure img{
    filter: brightness(0) invert(1)
}
.feature-box-content *{
    color: var(--secondary--color);
}
.feature-box-item:hover figure img{
    transform: translateY(5px);
}
.feature-box-content h4{
    margin-bottom: 19px;
}
.feature-box-content {
    flex-grow: 1;
}
.feature-box-content p{
    margin-top: auto;
}
/* RESPONSIVE */
@media screen and (max-width: 1199px) {
    .feature-box {
        gap: 25px;
    }
    .feature-box-item {
        gap: 10px;
        padding: 24px 15px;
    }
}
@media screen and (max-width: 991px) {
    .feature-box-item figure {
        width: 70px;
        height: 70px;
    }
    .feature-box {
        gap: 20px;
    }
    .feature-box-item {
        gap: 10px;
        padding: 20px 15px;
        flex-direction: column;
    }
    .feature-box-content h4 {
        margin-bottom: 12px;
    }    
}
@media screen and (max-width: 767px) {
    .feature-box {
        gap: 20px;
        grid-template-columns: 48% 48%;
    }
    .feature-box-content h4 {
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 575px) {
    .feature-box {
        grid-template-columns: 100%;
    }
}