.plan-con{
    background: #f2f8ff;
}
.plan-box {
    gap: 30px;
    display: grid;
    grid-template-columns: 31.533% 31.533% 31.533%;
}
.plan-box-item figure {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background: var(--accent--color);
    margin: 0 auto 23px;
}
.plan-box-item figure img{
    filter: brightness(0) invert(1);
}
.plan-box-item {
    text-align: center;
    border-radius: 10px;
    padding: 32px 28px 39px;
    border: 1px solid rgb(0 123 255 / 20%);
}
.plan-box-item h4{
    margin-bottom: 16px;
    color: var(--primary--color);
}
.plan-box-item figure img{
    transition: all 0.5s ease-in-out;
}
.plan-box-item:hover figure img{
    transform: translatey(5px);
    filter: brightness(0) saturate(100%) invert(44%) sepia(85%) saturate(5304%) hue-rotate(199deg) brightness(101%) contrast(105%);
}
.plan-box-item > span{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
}
.plan-box-item:hover{
    background: var(--accent--color);
}
.plan-box-item:hover figure{
    background: var(--secondary--color);
}
.plan-box-item:hover *{
    color: var(--secondary--color);
}
.plan-box-item:hover .order-btn a{
    color: var(--primary--color);
    background: var(--secondary--color);
}
.price-value{
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 34px;
    color: var(--accent--color);
}
.price-value span {
    top: -16px;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    display: inline-block;
}
.price-value small{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.plan-box-item ul li i{
    font-size: 16px;
    padding-right:12px;
    color: var(--accent--color);
}
.plan-box-item ul li{
    display: flex;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
}
.plan-box-item ul li span{
    padding-right: 2px;
    font-weight: 700;
}
.plan-box-item ul li:last-child{
    margin-bottom: 0;
}
.plan-box-item ul {
    margin: 0 auto 29px;
    display: inline-block;
}
.order-btn a {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 17px 10px;
    color: var(--secondary--color);
    background: var(--accent--color);
}
.order-btn a:hover{
    color: var(--secondary--color);
    background: var(--primary--color);
}
/* RESPONSIVENESS */
@media screen and (max-width: 1440px) {
    .plan-box-item > span {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 22px;
    }
    .plan-box-item h4 {
        margin-bottom: 10px;
    }
    .price-value {
        font-size: 38px;
        line-height: 38px;
        margin-bottom: 24px;
    }
    .plan-box-item ul li {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 16px;
    }
    .order-btn a {
        padding: 15px 10px;
    }
    .plan-box-item {
        padding: 32px 28px;
    }
}
@media screen and (max-width: 1199px) {
    .price-value {
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 22px;
    }
    .plan-box-item ul {
        margin-bottom: 26px;
    }
    .plan-box {
        gap: 25px;
    }
}
@media screen and (max-width: 991px) {
    .plan-box {
        gap: 18px;
    }
    .plan-box-item {
        padding: 26px 18px;
    }
    .price-value {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .plan-box-item ul li i {
        padding-right: 8px;
    }
    .price-value span {
        top: -10px;
        font-size: 18px;
        line-height: 18px;
    }
    .plan-box-item ul {
        margin-bottom: 20px;
    }
    .order-btn a {
        font-size: 14px;
        line-height: 14px;
        padding: 14px 10px;
    }
    .plan-box-item > span {
        font-size: 12px;
        line-height: 20px;
    }
}
@media screen and (max-width: 767px) {
    .plan-box {
        grid-template-columns: 48% 48%;
    }
}
@media screen and (max-width: 575px) {
    .plan-box {
        grid-template-columns: 100%;
    }
    .plan-box-item > span {
        margin-bottom: 16px;
    }
}