.feature-box {
    gap: 30px;
    display: grid;
    grid-template-columns: 48% 48%;
}
.feature-box-item:hover{
    background: var(--accent--color);
    border-color: var(--accent--color);
    box-shadow: 0 0 60px rgb(0 123 255 / 20%);
}
.feature-box-item:hover *{
    color: var(--secondary--color);
}
.feature-box-item:hover figure{
    filter: brightness(0) invert(1);
}
.feature-box-outer {
    gap: 30px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 30% 65.8%;
}
.feature-box-item {
    gap: 21px;
    display: flex;
    border-radius: 10px;
    padding: 39px 22px 29px;
    border: 1px solid rgb(0 123 255 / 20%);
    flex-direction: column;
}
.feature-box-item figure img{
    transition: all 0.5s ease-in-out;
}
.feature-box-item:hover figure img{
    transform: translateY(5px);
}
.feature-box-content h4{
    margin-bottom: 19px;
}
.feature-box-content {
    flex-grow: 1;
}
.feature-box-content p{
    margin-top: auto;
}
.feature-main-content span{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 40px;
    color: var(--accent--color);
}
.feature-main-content h3{
    margin-bottom: 15px;
}
.feature-main-content p {
    padding-right: 41px;
    margin-bottom: 24px;
}
.feature-btn a {
    font-size: 16px;
    line-height: 16px;
    padding: 17px 29px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    color: var(--secondary--color);
    background: var(--accent--color);
}
/* RESPONSIVE */
@media screen and (max-width: 1199px) {
    .feature-box {
        gap: 25px;
    }
    .feature-box-item {
        gap: 10px;
        padding: 24px 15px;
    }
    .feature-main-content span {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 24px;
    }
    .feature-main-content p {
        padding-right: 0;
    }
    .feature-btn a {
        font-size: 14px;
        line-height: 14px;
        background: var(--accent--color);
    }
}
@media screen and (max-width: 991px) {
    .feature-box {
        gap: 20px;
    }
    .feature-box-item {
        gap: 10px;
        padding: 20px 15px;
        flex-direction: column;
    }
    .feature-box-content h4 {
        margin-bottom: 12px;
    }   
    .feature-btn a {
        padding: 15px 29px 16px;
    } 
}
@media screen and (max-width: 767px) {
    .feature-box {
        gap: 20px;
        grid-template-columns: 48% 48%;
    }
    .feature-box-content h4 {
        margin-bottom: 8px;
    }
    .feature-box-outer {
        grid-template-columns: 100%;
        text-align: center;
    }
    .feature-main-content span {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 14px;
    }
    .feature-main-content h3 {
        margin-bottom: 10px;
    }
    .feature-main-content p {
        margin-bottom: 18px;
    }
    .feature-btn a {
        padding: 13px 18px 14px;
    }
}
@media screen and (max-width: 575px) {
    .feature-box {
        grid-template-columns: 100%;
    }
}