
.domains-price-con ul {
    gap: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 24.2% 24.2% 24.2% 24.2%;
}
.domains-price-con {
    gap: 10px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 79.7% 19.4%;
}
.domains-price-con ul li span {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 15px;
    display: inline-block;
    color: var(--accent--color);
}
.domain-serach-con {
    gap: 10px;
    display: flex;
    margin-bottom: 30px;
}
.domains-price-con ul li {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    padding: 17px 29px 17px 30px;
    background: var(--secondary--color);
    border: 1px solid rgb(0 123 255 / 20%);
}
.domain-serach-con input {
    width: 69.4%;
    font-size: 16px;
    line-height: 16px;
    padding: 18px 25px 19px 53px;
    border-radius: 10px;
    color: var(--text--color);
    border: 1px solid rgb(0 123 255 / 20%);
    background: var(--secondary--color) url(../images/domain-input-icon.png) no-repeat 2.5% 50.1%;
}
.domain-serach-con input:focus,
.domain-search-btns button:focus{
    outline: none;
}
.domain-serach-con input::placeholder{
    font-size: 16px;
    line-height: 16px;
    color: var(--text--color);
}
.domain-search-btns {
    gap: 10px;
    display: flex;
}
.domain-search-btns button{
    width: 160px;
    height: 60px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    text-align: center;
}
.search-btn{
    border: none;
    color: var(--secondary--color);
    background: var(--accent--color);
}
.search-btn:hover{
    background: var(--primary--color);
}
.transfer-btn{
    background: var(--secondary--color);
    color: var(--primary--color);
    border: 1px solid var(--primary--color);
}
.transfer-btn:hover{
    color: var(--secondary--color);
    background: var(--primary--color);
}
.pricing-btn a {
    font-size: 16px;
    line-height: 16px;
    padding: 21px 50px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--accent--color);
    background: var(--secondary--color);
}
.pricing-btn a:hover{
    color: var(--secondary--color);
    background: var(--accent--color);
}
/* RESPONSIVENESS */
@media screen and (max-width: 1440px) {
    .domain-serach-con {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 1199px) {
    .domains-price-con ul {
        grid-template-columns: 24% 24% 24% 24%;
    }
    .pricing-btn a {
        padding: 21px 30px;
    }
    .domains-price-con ul li {
        padding: 17px 15px;
    }
    .domain-serach-con input {
        padding: 15px 25px 16px 53px;
    }
    .domain-search-btns button {
        height: 54px;
    }
    .domain-serach-con {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 991px) {
    .domain-search-btns button {
        height: 48px;
        width: 100px;
    }
    .domain-serach-con input {
        padding: 12px 25px 13px 53px;
    }
    .domains-price-con {
        grid-template-columns: 100%;
    }
    .domains-price-con ul li {
        padding: 17px 8px;
        height: 56px;
    }
    .domains-price-con ul li span {
        font-size: 16px;
        line-height: 16px;
        margin-left: 11px;
    }
    .pricing-btn a {
        padding: 18px 24px;
    }
    .pricing-btn{
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .domain-serach-con {
        margin-bottom: 20px;
        flex-direction: column;
    }
    .domain-serach-con input {
        width: 100%;
    }
    .domain-search-btns {
        justify-content: center;
    }
    .domains-price-con ul {
        justify-content: center;
        grid-template-columns: 48% 48%;
    }
    .pricing-btn a {
        font-size: 14px;
        line-height: 14px;
        padding: 17px 24px;
    }
    .domain-search-btns button {
        height: 42px;
        width: 120px;
        font-size: 14px;
        line-height: 14px;
    }
    .domains-price-con ul li span {
        font-size: 14px;
        line-height: 14px;
        margin-left: 9px;
    }
}
@media screen and (max-width: 575px) {
    .pricing-btn a {
        padding: 14px 24px;
    }
    .domain-serach-con input {
        padding: 12px 25px 13px 43px;
    }
}