.swiper-container-free-mode > .swiper-wrapper{
    transition-timing-function : linear;
}
.timeline-box {
    position: relative;
    overflow: hidden;
}
.timeline-date {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    position: relative;
    margin-bottom: 91px;
    color: var(--primary--color);
}
.timeline-box-item h4{
    margin-bottom: 20px;
}
.timeline-box-item p{
    font-size: 16px;
    padding: 0 26px;
    line-height: 28px;
}
.timeline-date::after{
    left: 0;
    height: 1px;
    width: 100%;
    content: "";
    bottom: -49px;
    position: absolute;
    border-bottom: 1px solid rgb(0 123 255 / 20%);
}
.timeline-date::before{
    left: 50%;
    width: 21px;
    height: 21px;
    content: "";
    bottom: -59px;
    position: absolute;
    transform: translatex(-50%);
    background: url(../images/dots-icon.png) no-repeat center;
}
.timeline-con .container{
    position: relative;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary--color);
}
.swiper-button-next, .swiper-button-prev {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--accent--color);
}
.swiper-button-prev {
    left: -44px;
}
.swiper-button-next{
    right: -44px;
}
/* RESPONSIVE */
@media only screen and (max-width: 1440px) {
    .swiper-button-next {
        right: -24px;
    }
    .swiper-button-prev {
        left: -24px;
    }
    .swiper-button-next, .swiper-button-prev {
        top: 48%;

    }
}
@media only screen and (max-width: 1199px) {
    .timeline-box-item p {
        font-size: 16px;
        padding: 0;
        line-height: 28px;
    }
    .timeline-date {
        font-size: 32px;
        margin-bottom: 81px;
    }
    .timeline-date::after {
        bottom: -38px;
    }
    .timeline-date::before {
        bottom: -49px;
    }
    .swiper-button-next, .swiper-button-prev {
        top: 44%;
    }
    .swiper-button-next {
        right: -10px;
    }
    .swiper-button-prev {
        left: -10px;
    }
}
@media only screen and (max-width: 991px) {
    .swiper-button-next, .swiper-button-prev {
        top: 45%;
    }
}
@media only screen and (max-width: 767px) {
    .timeline-date {
        font-size: 28px;
        margin-bottom: 70px;
    }
    .timeline-date::after {
        bottom: -28px;
    }
    .timeline-date::before {
        bottom: -39px;
    }
    .swiper-button-next, .swiper-button-prev {
        top: 38%;
    }
}
@media only screen and (max-width: 575px) {
    /* .timeline_outer_most_box {
        width: 330px;
        margin: 0 auto;
    } */
    .timeline-date {
        font-size: 26px;
        margin-bottom: 60px;
    }
    .timeline-box-item h4 {
        margin-bottom: 10px;
    }
    .swiper-button-next, .swiper-button-prev {
        top: unset;
        bottom: -30px;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    .swiper-button-next {
        right: -20px;
    }
    .swiper-button-prev {
        left: -20px;
        top: 0 !important;
    }
}
/* RESPONSIVE */